@media (min-width: 768px) {
  .md-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .md-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {

  .md-grid-2,
  .md-grid-4 {
    grid-template-columns: 1fr;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cpu-grid {
    grid-template-columns: 1fr 1fr;
  }
}